<div class="user-content apim" id="user-content">
  {{#each model.credentials as |credential|}}
    {{#apim-credential
      credential=credential
      showApiKey=(action "showApiKey" credential.product)
      createApiKey=(action "createApiKey" credential.product)
    }}
    {{/apim-credential}}
  {{/each}}
  <div class="additional-subscriptions">
    <div class="additional-subscription-title">
      Additional reporting subscriptions
    </div>
    API usage through these subscriptions will be assigned to this group in the report
    <div class="new-additional-subscription">
      <SimpleList
        @values={{model.additionalReportingSubscriptions}}
        @onChange={{this.setAdditionalReportingSubscriptions}}
      />
    </div>
  </div>
</div>
