<div class="user-content apim" id="user-content">
  {{#each model.credentials as |credential|}}
    {{#apim-credential
      credential=credential
      showApiKey=(action "showApiKey" credential.product)
      createApiKey=(action "createApiKey" credential.product)
    }}
    {{/apim-credential}}
  {{/each}}
</div>
