<div class="user-content apim" id="user-content">
  {{#each model.credentials as |credential|}}
    {{#apim-credential
      credential=credential
      showApiKey=(action "showApiKey" credential.product)
      createApiKey=(action "createApiKey" credential.product)
    }}
    {{/apim-credential}}
  {{/each}}
  {{#if model.showReportingSubscriptions}}
    <div class="reporting-subscriptions">
      <div class="reporting-subscription-title">
        Additional reporting subscriptions (RCPCH administrators only)
      </div>
      API usage through these subscriptions will be assigned to this group.
     <SimpleList
        @values={{model.reportingSubscriptions}}
        @onChange={{this.setReportingSubscriptions}}
      />
    </div>
  {{/if}}
</div>
