<div class="user-content" id="user-content">
  {{#if @model.apiKeys }}
    woo
  {{else}}
    <form method="post">
      <input
        class="btn" 
        type="submit"
        value="Generate API key"
      />
    </form>
  {{/if}}
</div>