<div class="user-content" id="user-content">
  <table>
    <thead>
      <tr>
        <td>Product</td>
        <td>Key</td>
      </tr>
    </thead>
    <tbody>
      {{#each model.api_keys as |registration|}}
        <tr>
          <td>{{registration.name}}</td>
          <td>{{registration.key}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  

  <button {{action "createApiKey"}} class="btn">Generate API key</button>
</div>