<div class="user-content" id="user-content">
  <table>
    <thead>
      <tr>
        <td>Product</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      {{#each model.api_keys as |registration|}}
        <tr>
          <td>{{registration.displayName}}</td>
          {{#if registration.enabled}}
            <button {{action "showApiKey"}} class="btn">Show API key</button>
          {{else}}
            <button {{action "createApiKey" registration.name}} class="btn">Generate API key</button>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

