.apim-credential {
  background-color: var(--primary-very-low);
  border: 1px solid var(--primary-low);
  padding: 1em;
}

.credential-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--primary-low);
  padding-bottom: 1em;
}

.credential-title {
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-size: var(--font-up-1);
}

.credential-action {
  padding: 1em;
  border-bottom: 1px solid var(--primary-low);
}

.credential-usage {
  display: flex;
  padding: 1em 0em;
}

.credential-usage-this-month {
  flex: 1;
}

.credential-usage-last-year {
  flex: 4;
}

.credential-stat {
  text-align: center;
}

.credential-stat-number {
  font-weight: bold;
  font-size: var(--font-up-3);
}

.credential-stat-description {
  color: var(--primary-medium);
}

.reporting-subscriptions {
  padding: 1em;
}

.reporting-subscription-title {
  font-weight: 700;
  font-size: var(--font-up-1);
}